<script src="/static/js/manage-app.js"></script>
<div class="row">
  <div class="col-12 col-md-6">
    <a href="/" class="btn btn-secondary w-100">
      Return to all apps
    </a>
  </div>
  <div class="col-12 col-md-6">
    {{> reloadButton}}
  </div>
  {{> errorAlert}}
  {{#unless error}}
    {{#with appDetails}}
      <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">
              Delete app <b>{{name}} ({{pmId}})</b>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to remove the <b>{{name}}</b> application?
            This operation cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button
              type="button"
              data-bs-dismiss="modal"
              onclick="deleteApp({{pmId}})"
              class="btn btn-danger">
            Delete
          </button>
          </div>
        </div>
      </div>
    </div>
      <div class="col-12">
        <div
          id="border-{{pmId}}"
          class="card mb-3 p-3 container-fluid {{borderColor}}">
          <div class="row">
            <div class="col-12 col-md-3 mb-3">
              <h4 class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">deployed_code</span>
                {{name}} ({{pmId}})
              </h4>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">memory</span>
                CPU: <b id="cpu-{{pmId}}">{{cpu}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">memory_alt</span>
                Memory: <b id="mem-{{pmId}}">{{memory}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">schedule</span>
                Uptime: <b id="uptime-{{pmId}}">{{uptime}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">sprint</span>
                Status:
                <b id="status-{{pmId}}" class="{{statusColor}}">
                  {{status}}
                </b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">fingerprint</span>
                Process ID: <b id="pid-{{pmId}}">{{pId}}</b>
              </p>
            </div>
            <div class="col-12 col-md-9 mb-3 d-flex justify-content-center align-items-center py-2">
              <canvas height="60px" data-pm-id="{{pmId}}"></canvas>
            </div>
            <div class="col-12 mb-3">
              <div class="container-fluid">
                <div class="row gap-2">
                  <button
                    onclick="reloadApp({{pmId}})"
                    class="col-12 col-md btn btn-primary d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">refresh</span> Reload
                  </button>
                  <button
                    onclick="restartApp({{pmId}})"
                    class="col-12 col-md btn btn-success d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">restart_alt</span> Restart
                  </button>
                  <button
                    onclick="stopApp({{pmId}})"
                    class="col-12 col-md btn btn-danger d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">do_not_disturb_on</span> Stop
                  </button>
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#confirmationModal"
                    class="col-12 col-md btn btn-outline-danger d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">delete_forever</span> Delete
                  </button>
                </div>
              </div>
            </div>
            <div class="col-12">
              Executable path: <code>{{execPath}}</code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-3 p-3" console-pm-id="{{pmId}}">
          console logs
        </div>
      </div>
      <script src="/static/js/line-chart-props.js"></script>
      <script src="/static/js/real-time-chart.js"></script>
    {{/with}}
  {{/unless}}
</div>
