<form>
  <input id="csrf" value="{{csrfToken}}" type="hidden"/>
</form>
<script src="/js/manage-app.js"></script>
<div class="container">
  <div class="row gap-2" data-pm-id-root="{{pmId}}">
    <div class="col-12 col-md">
      <a href="/" class="btn btn-secondary w-100">
        Return to all apps
      </a>
    </div>
    <div class="col-12 col-md">
      {{> reloadButton}}
    </div>
    {{> errorAlert}}
    {{#unless error}}
      {{#with appDetails}}
        <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5">
                  Delete app <b>{{name}} ({{pmId}})</b>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete the <b>{{name}}</b> application?
                This operation cannot be undone.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button
                  type="button"
                  data-bs-dismiss="modal"
                  onclick="deleteApp({{pmId}})"
                  class="btn btn-danger">
                  Delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div
            id="border-{{pmId}}"
            class="card mb-3 px-0 container-fluid {{borderColor}}">
            <div
              id="waiting-{{pmId}}"
              class="position-absolute w-100 h-100 left-0 top-0 loading-color mx-0 rounded-3 d-none justify-content-center align-items-center">
              <div class="spinner-border" role="status"></div>
            </div>
            <div class="row p-3">
              <div class="col-12 col-md-3 mb-3">
                <h4 class="d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined">deployed_code</span>
                  {{name}} ({{pmId}})
                </h4>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">memory</span>
                  CPU: <b id="cpu-{{pmId}}">{{cpu}}</b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">memory_alt</span>
                  Memory: <b id="mem-{{pmId}}">{{memory}}</b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">schedule</span>
                  Uptime: <b id="uptime-{{pmId}}">{{uptime}}</b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">sprint</span>
                  Status:
                  <b id="status-{{pmId}}" class="{{statusColor}}">
                    {{status}}
                  </b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">fingerprint</span>
                  Process ID: <b id="pid-{{pmId}}">{{pId}}</b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">chat_bubble</span>
                  Out log size: <b id="logs-out-{{pmId}}">{{logsSize.out}}</b>
                </p>
                <p class="m-0 d-flex align-items-center gap-2">
                  <span class="material-symbols-outlined fs-5">feedback</span>
                  Err log size: <b id="logs-err-{{pmId}}">{{logsSize.err}}</b>
                </p>
              </div>
              <div class="col-12 col-md-9 mb-3 d-flex justify-content-center align-items-center py-2">
                <canvas height="60px" data-pm-id="{{pmId}}"></canvas>
              </div>
              <div class="col-12 mb-3">
                <div class="container-fluid">
                  <div class="row gap-2">
                    {{#if enabledActions.start}}
                    <button
                      data-on-disabled="{{pmId}}"
                      onclick="startApp({{pmId}})"
                      {{#unless isStopped}} disabled {{/unless}}
                      class="col-12 col-md btn btn-sm btn-primary d-flex justify-content-center align-items-center gap-1">
                      <span class="material-symbols-outlined fs-6">not_started</span> Start
                    </button>
                    {{/if}}
                    {{#if enabledActions.reload}}
                    <button
                      data-on-enabled="{{pmId}}"
                      onclick="reloadApp({{pmId}})"
                      {{#if isStopped}} disabled {{/if}}
                      class="col-12 col-md btn btn-primary d-flex justify-content-center align-items-center gap-1">
                      <span class="material-symbols-outlined fs-6">refresh</span> Reload
                    </button>
                    {{/if}}
                    {{#if enabledActions.restart}}
                    <button
                      data-on-enabled="{{pmId}}"
                      onclick="restartApp({{pmId}})"
                      {{#if isStopped}} disabled {{/if}}
                      class="col-12 col-md btn btn-primary d-flex justify-content-center align-items-center gap-1">
                      <span class="material-symbols-outlined fs-6">restart_alt</span> Restart
                    </button>
                    {{/if}}
                    {{#if enabledActions.stop}}
                    <button
                      data-on-enabled="{{pmId}}"
                      onclick="stopApp({{pmId}})"
                      {{#if isStopped}} disabled {{/if}}
                      class="col-12 col-md btn btn-danger d-flex justify-content-center align-items-center gap-1">
                      <span class="material-symbols-outlined fs-6">do_not_disturb_on</span> Stop
                    </button>
                    {{/if}}
                    {{#if isAdmin}}
                      <button
                        data-bs-toggle="modal"
                        data-bs-target="#confirmationModal"
                        class="col-12 col-md btn btn-outline-danger d-flex justify-content-center align-items-center gap-1">
                        <span class="material-symbols-outlined fs-6">delete_forever</span> Delete
                      </button>
                    {{/if}}
                  </div>
                </div>
              </div>
              <div class="col-12">
                Executable path: <code>{{execPath}}</code>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h5>Application logs</h5>
        </div>
        <div class="col-12 mb-3">
          <div class="modal fade" id="logsViewerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
            <div class="modal-dialog logs-viewer-modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="logsViewerModalLabel">Logs viewer</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row gap-2">
                      <div class="col-12">
                        <div class="container-fluid">
                          <div class="row gap-2">
                            <button
                              id="previousLogsBtn"
                              class="btn btn-sm btn-primary d-flex align-items-center justify-content-center col-12 col-md gap-1 w-100">
                              <span class="material-symbols-outlined fs-6">arrow_upward</span> Get previous logs
                            </button>
                            <button
                              id="newestViewerLogsBtn"
                              class="btn btn-sm btn-primary d-flex align-items-center justify-content-center col-12 col-md gap-1 w-100">
                              <span class="material-symbols-outlined fs-6">arrow_downward</span> Go to newest logs
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="removePreviousRowsCheckbox" checked>
                          <label class="form-check-label" for="removePreviousRowsCheckbox">
                            Remove previous rows after get new logs chunk
                          </label>
                        </div>
                      </div>
                      <div class="col-12">
                        <div
                          id="logsViewerContainer"
                          class="card p-2 console-container logs-viewer-console-container overflow-auto d-flex flex-column-reverse"
                          data-next-byte="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row gap-2">
              <button
                class="btn btn-sm btn-primary d-flex align-items-center justify-content-center col-12 col-md gap-1"
                data-bs-toggle="modal"
                data-bs-target="#logsViewerModal">
                <span class="material-symbols-outlined fs-6">search</span> Logs viewer
              </button>
              <button
                id="newestLogsBtn"
                class="btn btn-sm btn-primary d-flex align-items-center justify-content-center col-12 col-md gap-1">
                <span class="material-symbols-outlined fs-6">arrow_downward</span> Go to newest logs
              </button>
              <button
                id="resizeLogsWindowBtn"
                class="btn btn-primary d-flex align-items-center justify-content-center col-12 col-md gap-1">
                <span class="material-symbols-outlined fs-6">chevron_right</span>
                <span class="material-symbols-outlined fs-6">chevron_left</span>
                <span id="resizeText">Shrink window</span>
              </button>
              <button
                id="clearConsoleUiBtn"
                class="btn btn-sm btn-danger d-flex align-items-center justify-content-center col-12 col-md gap-1">
                <span class="material-symbols-outlined fs-6">delete_forever</span> Clear console (only on UI)
              </button>
              {{#if isAdmin}}
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#flushLogsModal"
                  class="btn btn-danger d-flex align-items-center justify-content-center col-12 col-md gap-1">
                  <span class="material-symbols-outlined fs-6">delete_forever</span> Flush logs (OUT and ERR)
                </button>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col-12">
          <ul class="nav nav-pills mb-3">
            <li class="nav-item">
              <button
                class="nav-link active d-flex align-items-center justify-content-center gap-2"
                data-bs-toggle="pill"
                data-bs-target="#stdout">
                <span class="material-symbols-outlined fs-6">thumb_up</span> STDOUT
              </button>
            </li>
            <li class="nav-item">
              <button
                class="nav-link d-flex align-items-center justify-content-center gap-2"
                id="stderrContainer"
                data-bs-toggle="pill"
                data-bs-target="#stderr">
                <span class="material-symbols-outlined fs-6">thumb_down</span> STDERR
              </button>
            </li>
          </ul>
        </div>
      {{/with}}
    {{/unless}}
  </div>
</div>
{{#unless error}}
  {{#with appDetails}}
    <div class="modal fade" id="flushLogsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">
              Flushing logs
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to flush all the logs (OUT and ERR)?
            This operation cannot be undone.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              Close
            </button>
            <button id="flushLogsBtn" class="btn btn-danger" data-bs-dismiss="modal">
              Flush
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mb-3" data-console-pm-id="{{pmId}}">
      {{#with logsData}}
        <div class="tab-content">
          <div class="tab-pane active" id="stdout" tabindex="0">
            <div
              id="stdout-logs"
              class="card p-2 console-container overflow-auto d-flex flex-column-reverse"
              data-next-byte="{{out.nextByte}}">
              {{#each out.logLines}}
                <code class="text-nowrap text-white">
                  {{this}}
                </code>
              {{/each}}
            </div>
          </div>
          <div class="tab-pane" id="stderr" tabindex="0">
            <div
              id="stderr-logs"
              class="card p-2 console-container overflow-auto d-flex flex-column-reverse"
              data-next-byte="{{err.nextByte}}">
              {{#each err.logLines}}
                <code class="text-nowrap text-white">
                  {{this}}
                </code>
              {{/each}}
            </div>
          </div>
        </div>
      {{/with}}
    </div>
  {{/with}}
{{/unless}}
<script type="text/javascript" src="/js/line-chart-props.js"></script>
<script type="text/javascript" src="/js/real-time-chart.js"></script>
<script type="text/javascript" src="/js/real-time-console.js"></script>
