<script src="/static/js/manage-app.js"></script>
<div class="row" data-pm-id-root="{{pmId}}">
  <div class="col-12 col-md-6">
    <a href="/" class="btn btn-secondary w-100">
      Return to all apps
    </a>
  </div>
  <div class="col-12 col-md-6">
    {{> reloadButton}}
  </div>
  {{> errorAlert}}
  {{#unless error}}
    {{#with appDetails}}
      <div class="modal fade" id="confirmationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">
                Delete app <b>{{name}} ({{pmId}})</b>
              </h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the <b>{{name}}</b> application?
              This operation cannot be undone.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
              </button>
              <button
                type="button"
                data-bs-dismiss="modal"
                onclick="deleteApp({{pmId}})"
                class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div
          id="border-{{pmId}}"
          class="card mb-3 px-0 container-fluid {{borderColor}}">
          <div
            id="waiting-{{pmId}}"
            class="position-absolute w-100 h-100 left-0 top-0 loading-color mx-0 rounded-3 d-none justify-content-center align-items-center">
            <div class="spinner-border" role="status"></div>
          </div>
          <div class="row p-3">
            <div class="col-12 col-md-3 mb-3">
              <h4 class="d-flex align-items-center gap-2">
                <span class="material-symbols-outlined">deployed_code</span>
                {{name}} ({{pmId}})
              </h4>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">memory</span>
                CPU: <b id="cpu-{{pmId}}">{{cpu}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">memory_alt</span>
                Memory: <b id="mem-{{pmId}}">{{memory}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">schedule</span>
                Uptime: <b id="uptime-{{pmId}}">{{uptime}}</b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">sprint</span>
                Status:
                <b id="status-{{pmId}}" class="{{statusColor}}">
                  {{status}}
                </b>
              </p>
              <p class="m-0 d-flex align-items-center gap-2">
                <span class="material-symbols-outlined fs-5">fingerprint</span>
                Process ID: <b id="pid-{{pmId}}">{{pId}}</b>
              </p>
            </div>
            <div class="col-12 col-md-9 mb-3 d-flex justify-content-center align-items-center py-2">
              <canvas height="60px" data-pm-id="{{pmId}}"></canvas>
            </div>
            <div class="col-12 mb-3">
              <div class="container-fluid">
                <div class="row gap-2">
                  {{#if enabledActions.start}}
                  <button
                    data-on-disabled="{{pmId}}"
                    onclick="startApp({{pmId}})"
                    {{#unless isStopped}} disabled {{/unless}}
                    class="col-12 col-md btn btn-sm btn-primary d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">not_started</span> Start
                  </button>
                  {{/if}}
                  {{#if enabledActions.reload}}
                  <button
                    data-on-enabled="{{pmId}}"
                    onclick="reloadApp({{pmId}})"
                    {{#if isStopped}} disabled {{/if}}
                    class="col-12 col-md btn btn-primary d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">refresh</span> Reload
                  </button>
                  {{/if}}
                  {{#if enabledActions.restart}}
                  <button
                    data-on-enabled="{{pmId}}"
                    onclick="restartApp({{pmId}})"
                    {{#if isStopped}} disabled {{/if}}
                    class="col-12 col-md btn btn-primary d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">restart_alt</span> Restart
                  </button>
                  {{/if}}
                  {{#if enabledActions.stop}}
                  <button
                    data-on-enabled="{{pmId}}"
                    onclick="stopApp({{pmId}})"
                    {{#if isStopped}} disabled {{/if}}
                    class="col-12 col-md btn btn-danger d-flex justify-content-center align-items-center gap-1">
                    <span class="material-symbols-outlined fs-6">do_not_disturb_on</span> Stop
                  </button>
                  {{/if}}
                  {{#if isAdmin}}
                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#confirmationModal"
                      class="col-12 col-md btn btn-outline-danger d-flex justify-content-center align-items-center gap-1">
                      <span class="material-symbols-outlined fs-6">delete_forever</span> Delete
                    </button>
                  {{/if}}
                </div>
              </div>
            </div>
            <div class="col-12">
              Executable path: <code>{{execPath}}</code>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-3 p-3" console-pm-id="{{pmId}}">
          console logs
        </div>
      </div>
      <script type="text/javascript" src="/static/js/line-chart-props.js"></script>
      <script type="text/javascript" src="/static/js/real-time-chart.js"></script>
    {{/with}}
  {{/unless}}
</div>
