<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PM2 Web UI</title>
  <link rel="icon" type="image/png" href="/favicon-32x32.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script type="text/javascript" src="https://hcaptcha.com/1/api.js" async defer></script>
  <script type="text/javascript" src="/js/toast.js"></script>
  <script type="text/javascript">
    window.dataTick = {{dataTick}};
    window.sessionTime = {{sessionTime}};
    window.realTimeLogsBufferLinesCount = {{realTimeLogsBufferLinesCount}};
    {{#unless isAdmin}}
      window.socketId = '{{loggedUser.socketId}}';
    {{/unless}}
  </script>
  {{#if loggedUser}}
    <script type="text/javascript" src="/js/session-guard.js"></script>
  {{/if}}
  {{#unless isAdmin}}
    <script type="text/javascript" src="/js/session-revoker.js"></script>
  {{/unless}}
</head>
<body class="d-flex flex-column min-vh-100">
  <header>
    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <div class="d-flex align-items-center">
          <img src="/favicon-32x32.png" class="pe-3" width="auto" height="30"/>
          <a class="navbar-brand" href="/">PM2 Web UI</a>
          {{#if isAdmin}}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/manage-accounts">Manage accounts</a>
              </li>
            </ul>
          {{/if}}
        </div>
        {{#if loggedUser}}
          <div class="d-flex gap-3 align-items-center">
            {{loggedUser.login}} ({{loggedUser.role}})
            <a href="/logout" class="btn btn-primary">Log out</a>
          </div>
        {{else}}
          <a href="/login" class="btn btn-primary">Log in</a>
        {{/if}}
      </div>
    </nav>
  </header>
  <main class="container-fluid flex-grow-1 py-3">
    {{{body}}}
  </main>
  <footer class="bg-body-tertiary p-4 text-center">
    <a href="https://miloszgilga.pl" target="_blank">
      &copy; {{nowYear}} by Miłosz Gilga
    </a>
  </footer>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
